@import './../../sass/colors.sass'    

.teaser
    &__title
        font-size: 1.25rem
        margin-bottom: 10px
    &__meta
        display: flex
        align-items: center
        justify-content: flex-start
        &__date
            margin-bottom: 7px
    &__link
        display: block
    &__excerpt
        margin: 0
        color: #333