@import '../../sass/variables.sass'
@import '../../sass/colors.sass'



.mobile-menu__top__logo
    display: none
    align-items: center
    justify-content: center
    #logo
        fill: #fff
    @media (max-width: $mobile_break)
        display: inline-flex

.mobile-menu__outer
    background-color: $darkgray
    display: none

.mobile-menu
    display: flex
    align-items: center
    justify-content: stretch
    // margin-top: 1rem
    a
        padding: 12px 8px
        font-size: 12px
        text-transform: uppercase
        color: #fff
        display: inline-block
        border-bottom: 0px solid $yellow
        flex: 1 0 0
        text-align: center
        transition: all 0.25s ease-out
        // margin-right: 0.5rem
        // &:last-of-type
        //     margin-right: 0
        &.active
            color: $yellow
            border-bottom: 4px solid $yellow
            padding-bottom: 8px

@media (max-width: $mobile_break)
    .mobile-menu__outer
        display: block


.mobile-menu__top
    display: flex
    justify-content: space-between
    align-items: center
    padding: 8px 1rem