@import '../../sass/variables.sass'
@import '../../sass/colors.sass'



.mobile-menu__top__logo
    display: none
    align-items: center
    justify-content: center
    #logo
        fill: #fff
    @media (max-width: $mobile_break)
        display: inline-flex

.mobile-menu__outer
    background-color: $darkgray
    display: none

.mobile-menu__bottom
    display: flex
    align-items: center
    justify-content: stretch
    position: relative
    padding-bottom: 5px
    // .active-indicator
    //     background-image: linear-gradient(to top, $brightyellow 0%, $lightyellow 100%)
    //     border-radius: 10px
    //     box-shadow: inset 0 3px 2px rgba(#fff, 0.5)
    //     width: 50px
    //     height: 30px
    //     position: absolute
    //     z-index: 1
    //     transition: all 0.25s ease-out
    > div:not(.active-indicator)
        flex: 1 0 0
        position: relative
        z-index: 2
        padding: 0 5px
        > div.active a
            // color: $yellow
            color: #333
        //     border-bottom: 4px solid $yellow
        //     padding-bottom: 8px
    a
        text-transform: uppercase
        font-size: 12px
        text-align: center
        transition: all 0.25s ease-out
        color: #fff
        padding: 12px 8px
        display: block
        border-bottom: 0px solid $yellow
        &:hover
            color: #fff

@media (max-width: $mobile_break)
    .mobile-menu__outer
        display: block


.mobile-menu__top
    display: flex
    justify-content: space-between
    align-items: center
    padding: 8px 10px
    &__menu
        display: flex
        a
            width: 30px
            height: 30px
            margin: 0 4px
            display: flex
            align-items: center
            justify-content: center
            color: #fff

