@import '../../sass/colors.sass'


.cta 
    padding: 8px 12px
    // border: 2px solid #fff
    color: #fff
    text-transform: uppercase
    font-size: 14px
    display: inline-block
    margin-top: 1rem
    transition: all 0.15s ease-out

        



.cta.white
    background-color: #fff
    color: #222

.cta.cobalt
    background-color: $cobalt
    color: #fff


.cta
    &:hover
        background-color: #fff
        color: #222