@import '../../sass/colors.sass'

.card 
    padding: 10px
    // background-color: $offwhite
    background-color: #fff
    box-shadow: 2px 2px 4px rgba(black, 0.2)
    margin-bottom: 10px
    transition: all 0.35s ease-out
    border-left: 0px solid $brightyellow
    position: relative
    &:after
        content: ''
        display: block
        position: absolute
        top: 0
        left: 0
        width: 0
        height: 100%
        background-color: $brightyellow
        transition: all 0.25s ease-out
    &:hover,
    &:active,
    &:focus,
        box-shadow: 1px 1px 2px rgba(black, 0.15)
        &:after
            width: 4px


// Target cards inside of links
a
    // &:hover,
    &:active,
    &:focus,
        > .card
            box-shadow: 1px 1px 2px rgba(black, 0.15)
            &:after
                width: 4px
