@import '../sass/variables.sass'
@import '../sass/colors.sass'
@import './inputs.sass'

*
    box-sizing: border-box

html
    // overflow: hidden

body,
body > div,
body > div > div 
    // height: 100vh
    min-height: 100vh
    @media (max-width: $mobile_break)
        min-height: calc(100vh - var(--header-height)

body
    background-color: #eee
    @media (max-width: $mobile_break)
        padding-top: var(--header-height)


body .main-content 
    flex-grow: 1
    display: flex
    flex-direction: column
    overflow-y: scroll
    scroll-behavior: smooth
    -webkit-overflow-scrolling: touch



a 
    transition: all 0.15s ease-out
    text-shadow: none
    text-decoration: none
    background-image: none
    color: $cobalt
    cursor: pointer
    &:hover
        color: $lightcobalt


*::selection 
    background: $brightyellow
    color: #000



.social-icon__link
    color: gray

button
    &:focus
        outline-color: -webkit-focus-ring-color
        outline-style: auto


@media (max-width: $mobile_break)
    h1
        font-size: 1.75rem